@import url(https://fonts.googleapis.com/css?family=Roboto&display:600,300,400);

.contato {
    padding-top: 20px;
    width: 100vw;
    height: 100vh;
    background: #23232e;

}

.form-contato {
    width: 100%;
    height: 100%;
}

.container-contato {
    background-color: black;
    border-radius: 20px;
    padding: 0;
    margin: 0 auto;
    height: 92vh;
    width: 80vw;
    box-shadow: rgb(104, 104, 104) 1px 1px 20px;
}


.container-form {
    max-width: 500px;
    margin: 60px auto;
    position: relative;
    border: 1px white solid;
    border-radius: 20px;
    box-shadow: rgb(104, 104, 104) 1px 1px 20px;
}

@media (max-width: 999px) {
    .container-form {
        margin: 50px auto;
    }

}


#contact input[type="text"],
#contact input[type="email"],
#contact input[type="tel"],
#contact input[type="url"],
#contact textarea #contact input[type="submit"] {
    font: 400 12px "Roboto", Helvica, Arial, sans-serif;
}

fieldset {
    border: medium none !important;
    min-width: 80%;
    padding-top: 10px;
    width: 100%;
}

#contact {
    margin-top: 20px;
    padding: 20px;
}

#contact h3 {
    display: block;
    font-size: 30px;
    font-weight: 300;
    margin-bottom: 10px;
}

#contact h4 {
    margin: 5px 0px 15px;
    display: block;
    font-size: 13px;
    font-weight: 400;
}

#contact input[type="text"],
#contact input[type="email"],
#contact input[type="tel"],
#contact input[type="url"],
#contact textarea {
    width: 90%;
    border: 1px solid white;
    background: #ccc;
    margin: 0 0 5px 20px;
    padding: 10px;
    height: 50%;
    border-radius: 10px;

}

#contact-submit {
    margin-left: 45%;
    border-radius: 10px;
    padding: 5px;
}
