    /* conteudo Home */

    .home{
        margin-top: 54px;
        padding-top: 20px;
        width: 100vw;
        height: 100vh;
        background: #23232e;
    }

    .container-home{
        background-color: black;
        margin: 0 auto;
        height: 92vh;
        width: 80vw;
        display: grid;
        grid-template-columns: 1fr;
        border-radius: 20px;
        padding: 10px;
        box-shadow: rgb(104, 104, 104) 1px 1px 20px;
        
    }

    .title-div{
        font-family: 'Abel', sans-serif;
        font-size: 40px;
        color: white;
        margin: auto;
        width: max-content;
        overflow-y: hidden;
        
    }

    .img-home{
        background: url(h1daniel.gif) no-repeat center center;
    }

    .conteudo-home{
        text-align: justify;
        justify-content: center;
        color: aliceblue;
    }

    .conteudo-home h4{
        margin-top: 40px;
    }

    h4{
        overflow-y: hidden;
        font-family: 'Abel', sans-serif;
    }

    /* Conteudo Sobre */

    .sobre{
        padding-top: 20px;
        width: 100vw;
        height: 100vh;
        background: #23232e;
    }

    .container-sobre{
        background: black;
        border-radius: 20px;
        padding: 10px;
        margin: 0 auto;
        height: 92vh;
        width: 80vw;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        box-shadow: rgb(104, 104, 104) 1px 1px 20px;

    }

    .conteudo-sobre{
        text-align: justify;
        justify-content: center;
        color: aliceblue;
    }

    .conteudo-sobre h4{
        overflow-y: hidden;
        margin-top: 40px;
    }

