<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pagina inicial</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8"
        crossorigin="anonymous"></script>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Abel&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="viewport.css">
    <link rel="stylesheet" href="index.css">
    <link rel="stylesheet" href="home.css">
    <link rel="stylesheet" href="form.css">



</head>

<body>
    <!-- Cabecalho -->
    <nav>
        <div>
            <img id="gitlogo" src="25231.png" alt="">
            <a target="_blank" href="https://github.com/danpqdan" class="logo">DanSantos</a>
        </div>
        <div class="mobile-menu">
            <div class="line1"></div>
            <div class="line2"></div>
            <div class="line3"></div>
        </div>
        <ul class="nav-list" id="nav-list">
            <li><a href="#home">Inicio</a></li>
            <li><a href="#sobre">Sobre</a></li>
            <li><a href="#projetos">Projetos</a></li>
            <li><a href="#contato">Contato</a></li>
        </ul>
    </nav>
    <!-- Home -->
    <section id="home">
        <main class="home">
            <div class="container-home">
                <p1 class="title-div">O projeto</p1>
                <div class="img-home">
                </div>
                <div class="conteudo-home">
                    <h4>
                        &nbsp &nbsp O projeto é uma criação para armazenamento e um homebase de outros projetos.</br></br>
                        &nbsp O intuito é facilitar a navegação do usuario entre projetos ja desenvolvidos e em
                        desenvolvimento facilitando
                        para o usuario poder de forma facil e agil encontrar ferramentas para o seu dia a dia.
                    </h4>
                </div>
            </div>
        </main>
    </section>
    <div class="space-transition"></div>

    <!-- Sobre -->
    <section id="sobre">
        <main class="sobre">
            <div class="container-sobre">
                <p1 class="title-div">Sobre mim</p1>
                <div class="img-sobre"></div>
                <div class="conteudo-sobre">
                    <h4>
                        Meu nome é Daniel e atualmente tenho 25 anos, tenho contato com o mundo da computação desde os
                        meus
                        treze anos quando obtive meu primeiro computador com monitor tubo, cento e vinco(125) de ram
                        ddr1 ou algo similar.
                        Com o intuito de aprender mais sobre esse mundo comecei a aprender sobre HTML com arquivos TXT,
                        aprendi a formatar e fuçar
                        nos componentes até que um dia ele deixou de funciar. Se passou o tempo e com 21 anos voltei a
                        me emprenhar, iniciei a
                        faculdade em Ciencia da Programação porem por ser algo muito abrangente e pouco especifico
                        tranquei e iniciei em
                        desenvolvimento de sistemas, mas como a vida de muitos, no meio do caminho tive imprevistos e
                        tranquei. Porem hoje dedico meu tempo livre estudando por conta propria já que do pouco que
                        recebo é inviavel voltar a faculdade.</br></br>
                        Hoje meu foco é ser um desenvolvedor Java porem ao mesmo tempo aplico conhecimentos do FrontEnd
                        com
                        HTML, CSS E JAVASCRIPT.
                    </h4>
                </div>
            </div>
        </main>
    </section>
    <div class="space-transition"></div>

    <!-- Projeto -->
    <section id="projetos">
        <main class="projetos">
            <div class="container-projetos">
                <div class="projeto1"></div>
                <div class="projeto2"></div>
                <div class="projeto3"></div>
                <div class="projeto4"></div>
            </div>
        </main>
    </section>
    <div class="space-transition"></div>

    <!-- contato -->
    <section id="contato">
        <main class="contato">
            <div class="container-contato">
                <h1 class="title-div">Entre em Contato</h1>
                <div class="container-form">
                    <form th:action="@{/enviarEmail}" th:object="${enviandoEmail}" method="post" id="contact"
                        class="form-contato">
                        <fieldset>
                            <input type="text" name="ownerRef" id="nome" class="area-mensagem" placeholder="Seu nome"
                                tabindex="">
                        </fieldset>

                        <fieldset>
                            <input type="email" name="emailTo" id="email" class="area-mensagem" placeholder="Seu email"
                                tabindex="2" required>
                        </fieldset>
                        <fieldset>
                            <input type="tel" id="telefone" class="area-mensagem" name="tel"
                                placeholder="Seu telefone(Opcional)" tabindex="3" norequired>
                        </fieldset>
                        <fieldset>
                            <input type="url" id="site" class="area-mensagem" name="url"
                                placeholder="Seu site(Opcional)" tabindex="4" norequired>
                        </fieldset>
                        <fieldset>
                            <textarea placeholder="Sua dica e sujestão sera muito bem vinda!" name="textCli"
                                id="areamensagem" class="area-mensagem" tabindex="5" required></textarea>
                        </fieldset>
                        <!-- ///////////////////////// -->
                        <fieldset id="meuEmail" style="display: none;">
                            <input type="email" name="emailFrom" id="email" class="area-mensagem"
                                placeholder="Seu email" tabindex="2" value="danieltisantos@gmail.com">
                        </fieldset>
                        <fieldset id="meuTexto" style="display: none;">
                            <textarea placeholder="Sua dica e sujestão sera muito bem vinda!" name="text"
                                id="areamensagem" class="area-mensagem" tabindex="5">Obrigado pelo contato</textarea>
                        </fieldset>
                        <fieldset id="meuTexto" style="display: none;">
                            <textarea placeholder="Sua dica e sujestão sera muito bem vinda!" name="subject"
                                id="areamensagem" class="area-mensagem" tabindex="5">Retorno do Contato</textarea>
                        </fieldset>

                        <!-- ///////////////////////// -->

                        <button type="submit" id="contact-submit" data-submit="...Sending"
                            tabindex="6">Cadastrar</button>
                    </form>

                </div>
            </div>
        </main>
    </section>

    <script src="mobile-navbar.js"></script>
    <script src="nav-effects.js"></script>
    <script src="main.js"></script>


</body>

</html>